// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a {
	text-decoration: none;
	color: black;
}
body {
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: antiquewhite;
}

.comment {
	background-color: #edf7ff;
	width: 80%;
	border-radius: 10px;
	margin: auto;
	margin-bottom:15px;
	padding: 20px;
}

.comments-header{
	text-align: center;
}

#comment_content {
	margin: auto;
	resize: none;
	display: flex;
	flex-direction: column;
	height: 200px;
	width: 80%;
    font-size: 14px;
    padding: 10px;
}