// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'avatar';

a {
	text-decoration: none;
	color: white;
}
body {
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	margin: 0;
	padding: 0;
	background-image: url('/images/bg0.png');
	background-size: cover;
	height: 100%;
}

h2 {
    margin-top: 60px;
}

input {
	background-color: white;
    margin: auto;
    display: block;
    margin-top: 10px;
    width: 87%;
    border: none;
    height: 35px;
    font-size: 14px;
}

label {
	color: white;
	margin-bottom: 10px;
	text-align: center;
	display: block;
}

.comment {
	background-color: #edf7ff;
	width: 80%;
	border-radius: 10px;
	margin: auto;
	margin-bottom:15px;
	padding: 20px;
}

.label {
	font-size: 12px;
}

.comment-content {

}

.comment-stamp {
	font-size: 12px;
}

.comments-header{
	text-align: center;
	color: white;
}

#comment_content {
	margin: auto;
	resize: none;
	display: flex;
	flex-direction: column;
	height: 200px;
	width: 80%;
    font-size: 14px;
    padding: 10px;
}

.home {
	margin-left: 16px;
	font-size: 12px;
}

#avatar-view {
	display: flex;
    z-index: -1;
    margin-top: -50px;
	.avatar {
		height: 300px;
		margin: auto;
		margin-top: 60px;
		display: flex;
		position: relative;
		
	}
}

.avatar-scroll { 
	display: flex;
	overflow: scroll;
	height: 400px;
	overflow-y: scroll; /* has to be scroll, not auto */
 	-webkit-overflow-scrolling: touch;
}