@import 'avatar';

html, body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	position: fixed;
}

a {
	text-decoration: none;
	color: white;
}

::-webkit-scrollbar { 
    display: none; 
}

.visible-on-white {
    text-shadow: black 1px 0px 6px;
}

.notice, .alert {
	position: absolute;
    color: white;
    left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
	text-align: center;
	transition-property: 'margin-top';
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.17, 1.21);
}

.alert-hidden {
	margin-top: -30px;
}

.section {
	width: 100%;
}

.bg-change {
	position: absolute;
	left: 15px;
	top: 15px;
	width: 25px;
	height: 25px;
	border-radius: 25px;
	border: solid 1px #DDDDFF;
	background-image: image-url('bg-icon.png');
	background-size: cover;
	background-color: #DDDDFF;
}

.bg-change:hover {
	cursor: pointer;
}

#next-button {
	position: absolute;
	background-image: image-url('next.png');
	background-repeat: no-repeat;
	background-size: cover;
	right: 15px;
	top: 15px;
	height: 21px;
	width: 26px;
}

#stats-button {
	position: absolute;
	bottom: 118px;
	left: 15px;
	font-size: 10px;
}

#randomizer {
	position: absolute;
    left: 15px;
    bottom: 130px;
    font-size: 10px;
    color: white;
    z-index: 10;
    height: 30px;
}

#next-button:hover {
	cursor: pointer;
}

#avatar-view {
	background-color: #fafafa;
	height: 100%;
	display: flex;
	overflow: hidden;
	background-image: image-url('bg0.png');
	background-size: cover;
    background-position-y: -60px;
    z-index: -1;
	.avatar {
		height: 300px;
		margin: auto;
		margin-top: 60px;
		display: flex;
		position: relative;
	}
}

#selectors {
	z-index: 21;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.category:hover {
	cursor: pointer;
}

#category-view {
	overflow-y: scroll; /* has to be scroll, not auto */
	-webkit-overflow-scrolling: touch;
	height: 40px;
	background-color: #ffffff;
	display: flex;
	margin-bottom: 0px;
    border-bottom: 1px solid #eaeaea;
	ul {
		overflow: scroll;
		padding: 0;
		list-style-type: none;
		display: -webkit-inline-box;
		float: left;
		margin: auto;
		li {
			color:  #002E44;
			margin-right: 20px;
			margin-left: 20px;
			margin-top: 10px;
    		padding-bottom: 4px;
    		font-size: 18px;
		}
	}
}

.category-selected {
	border-bottom: 3px solid  #002E44;
    margin-top: 10px;
    padding-bottom: 10px;
}

#scaler {
	opacity: 0;
	z-index: 20;
    height: 100px;
    right: 70px;
    position: absolute;
    bottom: 40px;
    transition-property: opacity, bottom;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.17, 1.21);
}

.scaler-text {
	text-shadow: #002e44 0px 0px 10px;
	color: white;
    position: absolute;
    bottom: -30px;
    right: -7px;
    font-size: 10px;
}

#black {
	background-color: black;
	border: white solid 1px;
	top: -40px;
}

#white {
	background-color: white;
	border: black solid 1px;
	top: -75px;
}

.bw-picker {
	z-index: 20;
	position: absolute;
	right: -5px;
	border-radius: 25px;
	height: 26px;
	width: 26px;
}

#color-slider {
	opacity: 0;
	z-index: 20;
	height: 100px;
    right: 15px;
    position: absolute;
    bottom: -40px;
    transition-property: opacity, bottom;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.17, 1.21);
}

.color-slider-text {
	text-shadow: #002e44 0px 0px 10px;
	color: white;
    position: absolute;
    bottom: -30px;
    right: -7px;
    font-size: 10px;
}

.slider-active {
	opacity: 1 !important;
	display: block !important;
    bottom: 136px !important;
}

#item-view {
	height: 70px;
	background-color: #fdfdfd;
	display: none;
	ul {
		overflow: scroll;
		overflow-y: hidden;
		padding: 0;
		margin: auto;
		display: -webkit-inline-box;

		:first-child{
			margin-left: 15px;
		}
	}
}

.shoes {
    background-position-x: -65px !important;
    background-position-y: -103px !important;
    background-size: 236px !important;
}

.open-items{
	display: flex !important;
	overflow-y: scroll; /* has to be scroll, not auto */
	-webkit-overflow-scrolling: touch;
}

.item-container {
	height: 50px;
	width: 50px;
	padding: 0;
	list-style-type: none;
	margin-left: 15px;
	margin-right: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 1px;
}

.item-container:hover {
	cursor:pointer;
}

.item-selected {
	border-bottom: 2px solid black;
	transform: scale(1.05);
}

.new_post {
	visibility: hidden;
	position: fixed;
	width: 100%;
}

#next-button {
	visibility: visible;
}

input {
	opacity: 0
}


